body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
}

.chat {
    display: flex;
    justify-content: center;
}

.chat__form {
    position: absolute;
    bottom: 0;
    padding: 2%;
}

.chat__output > div {
    margin-bottom: 10px;
}